<section class="aboutAgency">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="subscription_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="subscribe_now">
                                    <div class="card-text-holder text-center">
                                        <small>Subscribe</small>
                                        <h1 class="mb-4">Subscribe Our <strong>Newsletter</strong></h2>
                                    </div>
                                    <form class="subscribe_form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="email" placeholder="Enter your email">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">subscribe</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>