<div class="about_banner">
    <div>
        <h2>About Us </h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item"><a href="#">About Us</a></li>
            </ol>
        </nav>
    </div>
</div>
<section class="welcomeSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/assets/images/single-img-09.jpeg" class="img-fluid" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card-text-holder">
                    <small>WELCOME TO VZAH</small>
                    <h1>
                        Lorem Ipsume</h2>
                        <h2>Lorem Ipsum dummy Text</h2>
                </div>
                <p class="description">
                    Foundation was established with a small idea that was incepted in the minds of its promoters in the year 1987! We skillfully guide the applicants for their immigration process to any country they aspire to settle.
                </p>
                <div class="row feature">
                    <div class="col-sm-6 inner-content">
                        <img src="~/Content/assets/images/application.png" width="50px" height="50px">
                        <div class="vzahFeature">
                            <h5>Lorem Ipsume</h5>
                            <p>knowledge of immigration rules better than anyone</p>
                        </div>
                    </div>
                    <div class="col-sm-6 inner-content">
                        <img src="~/Content/assets/images/certificate.png" width="50px" height="50px">
                        <div class="vzahFeature">
                            <h5>Lorem Ipsume</h5>
                            <p>knowledge of immigration rules better than anyone</p>
                        </div>
                    </div>
                </div>
                <div class="row inner-content signature">
                    <img src="~/Content/assets/images/author-sign.png" width="80px" height="80px">
                    <div class="vzahFeature">
                        <blockquote class="blockquote">
                            <h5>Lorem Ipsume</h5>
                            <footer class="blockquote-footer">knowledge of immigration rules better than anyone</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="consultationBanner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card-text-holder-white">
                    <small>WE MAKE A DIFFERENCE</small>
                    <h1>
                        Lorem Ipsume</h2>
                        <h2>Lorem Ipsum dummy Text</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 justifyEnd">
                <button type="button" class="btn-White-outline">
                    Book a Consultation
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="card country-cards">
                    <div class="card-header">
                        <img src="~/Content/assets/images/sea-arch.jpg" alt="Sea Arch" />
                    </div>
                    <div class="card-body">
                        <div class="country-flag">
                            <img src="~/Content/assets/images/flag_of_germany.svg" alt="" />
                        </div>
                        <div class="text-center">
                            <h2 class="card-title">Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card country-cards">
                    <div class="card-header">
                        <img src="~/Content/assets/images/sea-arch.jpg" alt="Sea Arch" />
                    </div>
                    <div class="card-body">
                        <div class="country-flag">
                            <img src="~/Content/assets/images/flag_of_the_united_states.svg" alt="" />
                        </div>
                        <div class="text-center">
                            <h2 class="card-title">Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card country-cards">
                    <div class="card-header">
                        <img src="~/Content/assets/images/sea-arch.jpg" alt="Sea Arch" />
                    </div>
                    <div class="card-body">
                        <div class="country-flag">
                            <img src="~/Content/assets/images/Flag_of_the_united_kingdom.svg" alt="" />
                        </div>
                        <div class="text-center">
                            <h2 class="card-title">Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="view-country-cta">View More Country!</button>
        </div>
    </div>
</section>
<section class="aboutAgency">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card-text-holder">
                    <small>WELCOME TO VZAH</small>
                    <h1>
                        Lorem Ipsume</h2>
                        <h2>Lorem Ipsum dummy Text</h2>
                </div>
                <p class="description">
                    Foundation was established with a small idea that was incepted in the minds of its promoters in the year 1987! We skillfully guide the applicants for their immigration process to any country they aspire to settle.
                </p>
                <div class="card feature-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h2>01</h2>
                            <h2>Lorem Ipsum is simply dummy text</h2>
                        </div>
                    </div>
                </div>
                <div class="card feature-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h2>01</h2>
                            <h2>Lorem Ipsum is simply dummy text</h2>
                        </div>
                    </div>
                </div>
                <div class="card feature-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h2>01</h2>
                            <h2>Lorem Ipsum is simply dummy text</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/assets/images/single-img-10.jpeg" class="agencyImg" />
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card-text-holder text-center">
                    <small>BLOG CORNER</small>
                    <h1>Lorem Ipsume <strong>Lorem Ipsume</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="~/Content/assets/images/post-one-760x572 1.png" alt="Card image cap">
                    <div class="card-body">
                        <ul class="blog-details p-0 d-flex">
                            <li>
                                <small>Kristal</small>
                            </li>
                            <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                        </ul>
                        <h3>How to ensure a direct hassle-free visa application</h3>
                        <hr>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="~/Content/assets/images/post-one-760x572 1.png" alt="Card image cap">
                    <div class="card-body">
                        <ul class="blog-details p-0 d-flex">
                            <li>
                                <small>Kristal</small>
                            </li>
                            <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                        </ul>
                        <h3>How to ensure a direct hassle-free visa application</h3>
                        <hr>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="~/Content/assets/images/post-one-760x572 1.png" alt="Card image cap">
                    <div class="card-body">
                        <ul class="blog-details p-0 d-flex">
                            <li>
                                <small>Kristal</small>
                            </li>
                            <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                        </ul>
                        <h3>How to ensure a direct hassle-free visa application</h3>
                        <hr>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_NewsLetter")