<div class="about_banner">
    <div>
        <h2>News Update</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item"><a href="#">News</a></li>
            </ol>
        </nav>
    </div>
</div>
<section>
    <div class="container">
        <div class="card-text-holder text-center mb-4">
            <small>NEW UPDATE</small>
            <h1>Lorem Ipsume <strong>dummy Text</strong></h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-sm-12">
                <div class="card border border-light">
                    <img class="card-img-top" src="~/Content/assets/images/post-one-760x572 1.png" alt="Card image cap">
                    <div class="card-body">
                        <ul class="blog-details p-0 d-flex">
                            <li>
                                <small>Kristal</small>
                            </li>
                            <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                        </ul>
                        <h3>How to ensure a direct hassle-free visa application</h3>
                        <hr>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-sm-12">
                <div class="card border border-light mb-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/assets/images/post-five-590x355 1.png" style="height: 100%;object-fit: cover;" class="img-fluid" />
                            </div>
                            <div class="col-9 news-list py-2">
                                <ul class="blog-details p-0 d-flex mb-0">
                                    <li>
                                        <small>Kristal</small>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                                </ul>
                                <h3>How to ensure a direct hassle-free visa application</h3>
                                <p>Some quick example text to build on the card title.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-light mb-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/assets/images/post-five-590x355 1.png" style="height: 100%;object-fit: cover;" class="img-fluid" />
                            </div>
                            <div class="col-9 news-list py-2">
                                <ul class="blog-details p-0 d-flex mb-0">
                                    <li>
                                        <small>Kristal</small>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                                </ul>
                                <h3>How to ensure a direct hassle-free visa application</h3>
                                <p>Some quick example text to build on the card title.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-light mb-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/assets/images/post-five-590x355 1.png" style="height: 100%;object-fit: cover;" class="img-fluid" />
                            </div>
                            <div class="col-9 news-list py-2">
                                <ul class="blog-details p-0 d-flex mb-0">
                                    <li>
                                        <small>Kristal</small>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                                </ul>
                                <h3>How to ensure a direct hassle-free visa application</h3>
                                <p>Some quick example text to build on the card title.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-light mb-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/assets/images/post-five-590x355 1.png" style="height: 100%;object-fit: cover;" class="img-fluid" />
                            </div>
                            <div class="col-9 news-list py-2">
                                <ul class="blog-details p-0 d-flex mb-0">
                                    <li>
                                        <small>Kristal</small>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                                </ul>
                                <h3>How to ensure a direct hassle-free visa application</h3>
                                <p>Some quick example text to build on the card title.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-light mb-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/assets/images/post-five-590x355 1.png" style="height: 100%;object-fit: cover;" class="img-fluid" />
                            </div>
                            <div class="col-9 news-list py-2">
                                <ul class="blog-details p-0 d-flex mb-0">
                                    <li>
                                        <small>Kristal</small>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> <small>June 9, 2020</small></li>
                                </ul>
                                <h3>How to ensure a direct hassle-free visa application</h3>
                                <p>Some quick example text to build on the card title.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>