<div class="about_banner">
    <div>
        <h2>Login/Register</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item"><a href="#">Register</a></li>
            </ol>
        </nav>
    </div>
</div>
<section class="welcomeSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/assets/images/single-img-09.jpeg" class="img-fluid" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card-text-holder">
                    <small>Page Under Maintainance</small>
                    
                </div> 
            </div>
        </div>
    </div>
</section>
 